.block {
  margin-bottom: 16px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: var(--color-text-primary);

  max-width: 335px;
  width: 100%;
}

.name {
  color: var(--color-scheme-accent);
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .title {
    max-width: none;
  }
}

@media screen and (min-width: 1440px) {
  .block {
    margin-bottom: 32px;
  }

  .title {
    font-size: 32px;
  }
}
