.block {
  margin-bottom: 16px;
}
.title {
  font-family: var(--second-family);

  font-weight: 700;

  font-size: 24px;

  line-height: 1.2;

  letter-spacing: -0.02em;

  color: var(--color-text-primary);

  max-width: 335px;
}
@media (min-width: 1440px) {
  .title {
    font-size: 32px;

    max-width: none;
  }
}
.name {
  color: var(--color-scheme-accent);
}
