.tasks {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  background-color: #fff4f6;
  border-radius: 32px;
  width: 390px;
  height: 498px;

  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: auto;
}

.title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #000;

  margin-bottom: 16px;
}
/* .crossBtn {

} */

.textNoTasks {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color: #000;

  margin-bottom: 4px;
}
.textCreateTask {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  color: #000;
}

.createTaskBtn {
  display: flex;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border-bottom: 4px solid #ffcbd3;
  border-radius: 100px;
  padding-block: 10px;
  padding-inline: 24px;
  width: 191px;
  height: 46px;
  background-color: #ffdae0;

  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
}
.createTaskBtn:hover,
.createTaskBtn:focus {
  background-color: #fff4f6;
}
