.card {

  background-color: #fff4f6;;
  border-radius: 24px;
  padding: 16px 20px 32px 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
 
  width: 335px;
}
@media (min-width: 768px) {
  .card {
    width: 704px;
  }
  }
@media (min-width: 1440px) {
  .card {
    width: 390px;
  }

}
/* ---------- Header ---------- */

.header {
  display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;

}

.title {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
font-size: 20px;
line-height: 1.4;
letter-spacing: 0.01em;
color: #000;

}

.plusBtn {
    border-radius: 50%;
  border: none;
  background-color: transparent;
  color: #000;
  
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  /* margin-top: 32px;
  margin-right: 32px; */
}

.plusBtn:hover {
  
  transform: scale(1.25);
}

.plusBtn:active {
  transform: scale(1.25);
}

/* ---------- Empty state ---------- */

.emptyBold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
font-size: 14px;
line-height: 1.6;
color: #000;
}

.emptyText {
  font-family: "Lato", sans-serif;
  font-weight: 400;
font-size: 14px;

line-height: 1.5;
color: #000;
}

.createBtn {
   
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  
  
  background-color: #ffdae0; 
  color: #000000;            
  
  padding: 10px 24px;       
  border-radius: 100px;     
  
  border: none;              
  border-bottom: 4px solid #ffcbd3; 
  
  
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease; 
  
  
  user-select: none;
}


.createBtn:active {
  border-bottom-width: 0px;  
  transform: translateY(4px);
  background-color: #ffcbd3;  
}

.createBtn:hover {
  background-color: #ffe4e8;
}


.createBtn:hover {
  background-color: #ffe4e8;
}

/* ---------- Task list ---------- */

 .list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
font-size: 14px;
line-height: 1.6;
color: #000;
  
}


 .item {
  
  display: flex;
  flex-direction: column; 
  
}

.date {
  font-weight: 400;
  font-size: 12px;
  color: #000;
  margin-left: 50px;
}

.taskRow {
  
  display: flex;
  align-items: center;
  gap: 8px;
  
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
  font-family: "Lato", sans-serif;
  font-weight: 400;
font-size: 14px;
line-height: 1.5;
color: #000;
}

.item:last-child {
  border-bottom: none;
}

/* ---------- Checkbox ---------- */

.item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #000;
  cursor: pointer;
  margin-left: 24px;
}

.item input[type="checkbox"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}




