.card {
  width: 100%;
  padding: 24px;
  border-radius: 32px;
  background: var(--color-scheme-foreground);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px; /* mobile + tablet */
  line-height: 1.4;
  letter-spacing: 0.01em;
}

.text {
  font-size: 14px; /* mobile + tablet */
  line-height: 1.6;
}

/* DESKTOP  */
@media (min-width: 1280px) {
  .title {
    font-size: 24px;
  }

  .text {
    font-size: 16px;
  }
}
