.card {
  background-color: var(--color-bg-card);

  border-radius: 24px;

  padding: 40px 24px;

  border: 1px solid var(--color-border-default);

  display: flex;

  flex-direction: column;

  align-items: center;

  width: 100%;

  max-width: 335px;

  margin: 40px auto 24px;
}

@media (min-width: 768px) {
  .card {
    max-width: 704px;

    flex-direction: row;

    gap: 24px;

    align-items: flex-start;

    margin-top: 60px;
  }
}

@media (min-width: 1440px) {
  .card {
    max-width: 644px;
  }
}

.imageWrapper {
  position: relative;

  width: 132px;

  height: 132px;

  border-radius: 50%;

  overflow: hidden;

  flex-shrink: 0;

  border: 4px solid var(--theme-light);
}

.avatarImg {
  object-fit: cover;
}

.userInfo {
  text-align: center;

  width: 100%;
}

@media (min-width: 768px) {
  .userInfo {
    text-align: left;
  }
}

.name {
  font-family: var(--second-family);

  font-size: 20px;

  font-weight: 700;

  color: var(--color-text-primary);

  margin-top: 12px;

  margin-bottom: 4px;
}

.email {
  font-size: 14px;

  color: var(--color-text-secondary);

  margin-bottom: 24px;
}
.uploadBtn {
  min-width: 160px;

  height: 38px;

  padding: 8px 20px;

  border-radius: 100px;

  border: 2px solid var(--theme-main);

  background: transparent;

  color: var(--theme-darkest);

  font-weight: 600;

  cursor: pointer;

  transition: all 0.3s ease;
}

.uploadBtn:hover {
  background-color: var(--theme-main);

  color: #fff;
}
