/*========== MOBILE =============*/

.statusItem {
  border-radius: 32px;
  background-color: #fff4f6;

  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 0px solid rgba(0, 0, 0, 0.15);

  padding: 16px;
  width: 159px;
  height: 105px;
}

.text {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.value {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #000;
}
/*========== TABLET =============*/

.statusItem {
  width: 336px;
}

/*========== DESKTOP ============*/

.statusItem {
  width: 305px;
  height: 127px;
}

.text {
  font-size: 16px;
}

.value {
  font-size: 56px;
}
