/*========== MOBILE =============*/

.statusItem {
  border-radius: 32px;
  background-color: var(--theme-lighter);

  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 0px solid rgba(0, 0, 0, 0.15);

  padding: 16px;
  width: 159px;
  height: 105px;
}

.text {
  font-family: var(--font-family-base);
  color: var(--color-text-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.value {
  font-family: var(--font-family-accent);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--color-text-primary);
}

.text,
.value {
  margin: 0;
}

/*========== TABLET =============*/

.statusItem {
  width: 336px;
}

/*========== DESKTOP ============*/

.statusItem {
  width: 305px;
  height: 127px;
}

.text {
  font-size: 16px;
}

.value {
  font-size: 56px;
}
