.page {
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: stretch;
  background: var(--theme-lightest); 
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  background: var(--color-bg-primary); 
}

.left {
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  position: relative;
  width: 100%;
  height: 100%;
}

.title {
  font-family: var(--font-family-accent);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

@media (max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
  }

  .right {
    display: none;
  }

  .left {
    padding: 32px 16px;
  }
}
