.layout {
    display: flex;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 280px;
    background-color: #FAFAFA;
    min-height: 100vh;
    width: calc(100% - 280px);

    @media (max-width: 1024px) {
        margin-left: 0;
        width: 100%;
    }
}

.authContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    background-color: #FAFAFA;
    min-height: 100vh;
    width: 100%;
}

.main {
    flex: 1;
    padding: 24px;

    @media (max-width: 768px) {
        padding: 16px;
    }
}