.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 24px;
}

.required {
  color: #ff0000;
}

.input {
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  border-radius: 12px;
  background-color: #f5f5f5;
  border: 2px solid transparent;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 24px;
  transition: 0.2s;
}

.input:focus {
  outline: none;
  border-color: #ffdae0;
  background-color: #fff;
}

.input.error {
  border-color: #ff4444;
}

.errorMessage {
  font-size: 14px;
  color: #ff4444;
}

.buttonGroup {
  display: flex;
  justify-content: center;
}

.button {
  cursor: pointer;
  border: none;
}

.submitButton {
  width: 268px;
  height: 46px;
  background: #ffdae0;
  border-radius: 100px;
  border-bottom: 4px solid #ffcbd3;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #000;
}

.submitButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .input {
    height: 37px;
    font-size: 14px;
    line-height: 21px;
  }

  .label {
    font-size: 14px;
    line-height: 21px;
  }

  .submitButton {
    height: 42px;
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (max-width: 767px) {
  .label {
    font-size: 14px;
    line-height: 21px;
  }

  .input {
    height: 37px;
    font-size: 14px;
    line-height: 21px;
  }

  .submitButton {
    width: 100%;
    height: 42px;
  }
}
