/*======== MOBILE======== */

.container {
  width: 100%;
  max-width: 375px;
  display: flex;
  padding: 20px 16px 20px;
  gap: 16px;
}

/*======= TABLET =========*/

@media (min-width: 768px) {
  .container {
    max-width: 704px;
    gap: 32px;
    /* padding: 0px 32px 0px; */
    width: 768px;
  }
}

/*========= DESKTOP =========*/
@media (min-width: 1440px) {
  .container {
    max-width: 642px;
  }
}
