/*========== MOBILE =============*/

.container {
  width: 100%;
  max-width: 375px;
  display: flex;
  padding: 20px 16px 20px;
  gap: 16px;
}

/*========== TABLET =============*/

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 32px 16px 32px;
    gap: 32px;
  }
}

/*========== DESKTOP ============*/

@media (min-width: 1440px) {
  .container {
    max-width: 674px;
    padding: 32px 16px 0px;
  }
}
