.detailsContainer {
    display: flex;
    flex-direction: column;
    background-color: #FFF4F6;
    border-radius: 32px;
    padding: 24px 24px 112px 24px;
    margin: 0 24px;
    gap: 24px;
    height: 100%;
}

.header {
    display: flex;
    gap: 16px;
    align-items: center;
}

.title {
    margin: 0;
    padding: 0;
    font-family: var(--second-family), cursive;
    font-weight: 700;
    font-size: 18px;
}

.button {
    border: none;
    background: none;
    margin: 0;
    cursor: pointer;
    padding: 0;
    color: #4C4C4C;
    transition: color 0.2s ease;
}

.button:hover {
    color: #ffffff;
}

.button:active {
    color: #B2B2B2;
}

.buttonIcon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    display: block;
    color: inherit;
}

.middleContainer {
    display: flex;
    gap: 16px;
    align-items: center;
}

.date {
    margin: 0;
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.deleteButton {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    color: #4C4C4C;
    transition: color 0.2s ease;
}

.deleteButton:hover {
    color: #ffffff;
}

.deleteButton:active {
    color: #B2B2B2;
}

.deleteButton svg {
    display: block;
    fill: currentColor;
}

.emotionsList {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mainText {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    margin: 0;
}

.emotions {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.emotionBadge {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    padding: 4px 10px;
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    .detailsContainer {
        margin: 0 32px 0 32px;
    }
}

@media screen and (min-width: 1440px) {
    .detailsContainer {
        width: 643px;
        margin: 0;
    }
}