$base-distance: 8px;

.detailsContainer {
    display: flex;
    flex-direction: column;
    background-color: #FFF4F6;
    border-radius: $base-distance * 4;
    padding: $base-distance * 3 $base-distance * 3 112px $base-distance * 3;
    margin: 0 auto;
    gap: $base-distance * 3;
    height: 100%;

    .header {
        display: flex;
        gap: $base-distance * 2;
        align-items: center;

        .title {
            margin: 0;
            padding: 0;
            font-family: var(--second-family), cursive;
            font-weight: 700;
            font-size: 18px;
        }

        .button {
            border: none;
            background: none;
            margin: 0;
            cursor: pointer;
            padding: 0;
            color: #4C4C4C;
            transition: color 0.2s ease;

            &:hover {
                color: #ffffff;
            }

            &:active {
                color: #B2B2B2;
            }

            .buttonIcon {
                font-size: $base-distance * 3;
                width: $base-distance * 3;
                height: $base-distance * 3;
                display: block;
                color: inherit;
            }
        }
    }

    .middleContainer {
        display: flex;
        gap: $base-distance * 2;
        align-items: center;

        .date {
            margin: 0;
            font-family: var(--font-family), sans-serif;
            font-weight: 400;
            text-transform: capitalize;
        }

        .deleteButton {
            border: none;
            background: none;
            cursor: pointer;
            padding: 0;
            color: #4C4C4C;
            transition: color 0.2s ease;

            &:hover {
                color: #ffffff;
            }

            &:active {
                color: #B2B2B2;
            }

            svg {
                display: block;
                fill: currentColor;
            }
        }
    }

    .emotionsList {
        display: flex;
        flex-direction: column;
        gap: $base-distance * 2;

        .mainText {
            white-space: pre-wrap;
            overflow-wrap: break-word;
            font-family: var(--font-family), sans-serif;
            font-weight: 400;
            margin: 0;
        }

        .emotions {
            display: flex;
            flex-wrap: wrap;
            gap: $base-distance;

            .emotionBadge {
                background-color: #0000000D;
                border-radius: 100px;
                padding: 4px 10px;
                font-family: var(--font-family), sans-serif;
                font-weight: 400;
                font-size: 14px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .detailsContainer {
        margin: 0 $base-distance * 4 0 0;
    }
}

@media screen and (min-width: 1440px) {
    .detailsContainer {
        width: 643px;
        margin: 0;
    }
}