.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
.title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin-bottom: 48px;
}
.content {
    max-width: 768px;
  width: 100%;
  background: #fff;
  border-radius: 40px;
  padding: 64px;
  position: relative;
}
.closeBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 24px;
  line-height: 1;
  position: absolute;
  top: 25px;
  right: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .content{
    padding: 64px 32px;
  }

  .title {
    font-size: 36px;
  }
}

@media screen and (max-width: 767px) {
  .content {
    padding: 64px 20px;
  }

  .title {
    font-size: 32px;
  }
}
