.main {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 24px 16px;

  @media (min-width: 768px) {
    .main {
      padding: 40px 24px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
    max-width: 580px;
    margin-left: 0;
  }
}
