.wrapper {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-text-primary);
  gap: 8px;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-black);
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text-primary);
  border: 1px solid transparent;
  background-color: var(--color-neutral-lightest);
  transition: border 0.2s ease;
}

.input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.input:focus {
  outline: none;
  border: 2px solid var(--theme-main);
}

.input:invalid {
  border: 1px solid var(--color-danger);
}

.error {
  color: var(--color-danger);
  font-size: 12px;
}