.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-family: var(--font-family-base);
  color: var(--color-text-primary);
}

.label {
  margin-bottom: 4px;
  font-weight: 700;
}

.input {
  padding: 8px;
  border: 1px solid var(--color-border-default);
  border-radius: 4px;
  font-family: var(--font-family-base);
  color: var(--color-text-primary);
}

.error {
  color: var(--color-danger);
  font-size: 12px;
}