.google_button {
  width: 335px;
  height: 44px;

  border: none;
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
  border-radius: 100px;

  padding: 10px 24px;

  background: var(--opacity-neutral-darkest-5);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);

  cursor: pointer;
}

.google_button:hover {
  background: var(--opacity-neutral-darkest-10);
}

.google_button:active {
  background: var(--opacity-neutral-darkest-15);
}

@media (min-width: 1280px) {
  .google_button {
  width: 480px;
  height: 46px;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  
}
}