.auth_logo {
  display: flex;
  position: fixed;
  top: 12px;
  left: 20px;
  z-index: 1000;
}

.auth_logo_img {
  display: inline-flex;
  cursor: pointer;
  width: 105px;
  height: 45px;
}

.auth_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.auth_title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-text);
}

.auth_wrap_input {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.auth_field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.auth_input {
  border: 2px solid var(--opacity-transparent);
  border-radius: 12px;
  padding: 8px 12px;
  width: 335px;
  height: 37px;
  background: var(--opacity-neutral-darkest-5);
}

.ui_error {
  color: #e53935; /* червоний */
  font-size: 12px;
  line-height: 1.3;
  margin-top: 4px;
  align-self: flex-start; /* щоб було під інпутом, не по центру */
}

.auth_button {
  border-bottom: 4px solid var(--color-scheme-accent);
  border: none;
  border-radius: 100px;
  padding: 10px 24px;
  width: 335px;
  height: 41px;
  background: var(--color-scheme-accent);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);
}

.auth_button:hover {
  background: var(--color-scheme-foreground);
}

.auth_button:focus {
  background: var(--color-scheme-foreground);
}

.auth_button:active {
  background: var(--color-scheme-accent);
}

.auth_button:disabled {
  background: var(--color-scheme-foreground-alt);
  opacity: 0.3;
}

.auth_text {
  margin-top: 24px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--color-scheme-text);
}

.auth_text_link {
  margin-left: 6px;
  line-height: 160%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.auth_image {
  display: none;
}

/* tablet */
@media (min-width: 768px) {
  .auth_logo {
    left: 32px;
  }
  .auth_input {
    width: 480px;
    height: 37px;
  }

  .auth_button {
    width: 480px;
    height: 42px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .auth_logo {
    left: 40px;
  }
  .auth_wrapper {
    display: flex;
    min-height: 100vh;
    width: 100vw;
  }

  .auth_form {
    flex: 1;
    background: #fff;
  }
  .auth_input {
    height: 40px;
    font-size: 16px;
  }
  .auth_button {
    height: 44px;
  }

  .auth_label {
    font-size: 16px;
  }

  .auth_required {
    font-size: 16px;
  }
  .auth_title {
    font-size: 48px;
  }
  .auth_text {
    font-size: 16px;
  }

  .auth_image {
    display: block;
    position: relative;
    flex: 1;
    height: 100vh;
    overflow: hidden;
  }
}
