.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.imageWrapper {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.input {
  display: none; 
}

.button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-scheme-text);
  background-color: transparent;
  border: 1px solid var(--color-border-default);
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
  text-align: center;
}

.button:hover {
  background-color: var(--color-accent-light);
}
