.nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: auto;
}

.link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    border-radius: 12px;
    text-decoration: none;
    transition: all 0.2s;

    /* Typography */
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-text);

    &:hover {
        background-color: #f5f5f5;
    }

    &.active {
        background-color: #FDF2F8;
        color: #DB2777;
        font-weight: 500;
    }
}

.footer {
    padding-top: 24px;
    border-top: 1px solid #eee;
    margin-top: 24px;
}