.feelingcheck_section {
  border: 0px solid var(--color-scheme-border);
  border-radius: 32px;
  padding: 24px;
  width: 335px;
  height: 193px;
  background: var(--color-scheme-foreground);
}

.feelingcheck_title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
}

.feelingcheck_recommendation {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
}
.feelingcheck_span {
  font-weight: 400;
  line-height: 150%;
}

.feelingcheck_button {
  border: none;
  border-bottom: 4px solid var(--color-scheme-accent);
  border-radius: 100px;
  padding: 10px 24px;
  width: 225px;
  height: 42px;
  background: var(--color-scheme-foreground-alt);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

/* tablet */
@media (min-width: 768px) {
  .feelingcheck_section {
    width: 704px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .feelingcheck_section {
    width: 390px;
    height: 210px;
  }

  .feelingcheck_title {
    font-size: 24px;
  }

  .feelingcheck_recommendation {
    font-size: 16px;
  }

  .feelingcheck_button {
    border: none;
    width: 250px;
    height: 46px;
    font-size: 16px;
  }
}
